<!DOCTYPE html>
<html>
  <head>
    <title>Quiz - MPL</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/public/favicon.ico' type="image/x-icon" />
  </head>
  <body>
    <h2>Quiz - MPL: El juego de las preguntas</h2>
    <p><%= respuesta %></p>
    <a href="/quizes/question"> Intentelo otra vez </a>
  </body>
</html>
