<!DOCTYPE html>
<html>
  <head>
    <title>Quiz - MPL</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/public/favicon.ico' type="image/x-icon" />
  </head>
  <body>
    <h2>Quiz - MPL: El juego de las preguntas</h2>
    <form method="get" action="/quizes/answer">

    <p>Pregunta: <%= pregunta %></p>
    <input type="text" name="respuesta" placeholder="Responda aqui"/>
    <input type="submit" value="Enviar"/>

    </form>
  </body>
</html>
